*{
    margin: 0;
    padding: 0;
}

.sidebar{
    height: 100vh;
    background-color: rgb(145, 127, 127);
    width: 434px;
    
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;

}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: rgb(202, 9, 128); */
    /* height: 58vh; */
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devPic{
    /* position: absolute; */
    display: block;
}
.devPic img{
    /* width: 257px; */
    height: 58vh;
    /* position: fixed; */
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buttons{
    margin: 15px;
}
.buttons button{
    color: white;
    background-color: blueviolet;
    border-radius: 7px;
    padding: 4px;
    cursor: pointer;

}
.buttons button:hover{
    color: blueviolet;
    background-color: white;
    /* border-radius: 7px;
    padding: 4px;
    cursor: pointer; */

}
.hello{
    font-size: 65px;

}
.name{
    font-size: 50px;
}
.about{
    font-size: 40px;
}
.moreAbout{
    margin-top: 10px;
    font-size: 25px;
}
.contactForm{
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    /* text-align: center; */

    
}
.contactForm h2{
    text-align: center;
    padding-top: 70px;
}
.mb-3{
    margin: 50px;
    /* padding: 30px; */
}
.btn{
    justify-content: space-around;
    /* margin-left: 50px; */
    align-items: center;
    border-radius: 5px;
    color: white;
    background-color: blue;

}
.hamburger{
    position: absolute;
    left: 2px;
    top:2px
}
.ham{
    height: 20px;
    width: 20px;
}
.cross{
    
    height: 20px;
    width: 20px;
    /* padding-left: 240px; */
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
/* .skill{

} */
.devInfo li{
    /* text-decoration: none; */
    /* background-color: red; */
    list-style: none;
    /* font-weight: 200; */
}
.mySKill
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */

}
.skillbox{
    background-color: yellow;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
    /* padding: auto; */
    border-radius: 20px;
    /* vertical-align: center; */
    

}

@media only screen and (max-width: 600px) {
    
    /* body{
        background-color: red;
    } */
    .devPic{
        display: none;
    }
  }
